In [9]:
import pandas as pd
import glob

from collections import Counter
from  itertools import chain
import pydash
import ast

from wikidata.client import Client
client = Client()

pd.set_option('display.max_columns', None)

### Explore "instance of" feature of entities

In [13]:
britdf = pd.read_csv("britwikidata/british_isles.csv", header=0, index_col=None, low_memory=False)

In [11]:
britdf = britdf.drop(columns=['Unnamed: 0'])

In [12]:
britdf2 = britdf[~britdf.instance_of.isnull()]

In [ ]:
britdf2['instance_of'] = britdf2['instance_of'].apply(ast.literal_eval)

In [ ]:
britdf2.head()

In [ ]:
brit_instance = pd.Series(Counter(chain(*britdf2.instance_of))).sort_index()

In [ ]:
instance_of_frequency = brit_instance.to_dict()

In [ ]:
instance_of_label = dict()

In [ ]:
for k in instance_of_frequency:
    entity = client.get(k, load=True)
    record = entity.__dict__['data']
    instance_of_label[record['id']] = pydash.get(record, 'labels.en.value')

In [ ]:
len(instance_of_frequency)

In [ ]:
len(instance_of_label)

In [ ]:
# For some reason, some labels could not be retrieved, I add them by hand:
instance_of_label["Q18762207"] = "cemetery cross"
instance_of_label["Q87169767"] = "tunnel portal"
instance_of_label["Q17158079"] = "terminal train station"

In [ ]:
pd.DataFrame({'frequency':pd.Series(instance_of_frequency),'english_label':pd.Series(instance_of_label)}).to_csv("britwikidata/instance_of.csv")

In [14]:
britdf[britdf.wikititle.notnull()]

,Unnamed: 0,wikidata_id,english_label,instance_of,description_set,alias_dict,nativelabel,population_dict,area,hcounties,date_opening,date_closing,inception_date,dissolved_date,follows,replaces,adm_regions,countries,continents,capital_of,borders,near_water,latitude,longitude,wikititle,geonamesIDs,toIDs,vchIDs,vob_placeIDs,vob_unitIDs,epns,os_grid_ref,connectswith,street_address,adjacent_stations,ukrailcode,connectline
2,6006,Q63781193,Currie railway station,['Q55488'],"{'railway station in City of Edinburgh, Scotla...",{'en': ['Currie railway station']},NaN,{},NaN,['Q67317221'],NaN,NaN,NaN,NaN,[],[],"{'Q2379199': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,55.903100,-3.283500,Currie railway station,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,8102,Q64549301,Palmer Street,['Q79007'],{'Street in the City of Westminster'},"{'en': [""Palmer's Passage (lower)"", ""Gardner's...",NaN,{},NaN,['Q19186'],NaN,NaN,NaN,NaN,[],[],"{'Q179351': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,51.499100,-0.135400,Palmer Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Q7179381', 'Q64569507', 'Q65969902']",NaN,NaN,NaN,NaN
30,9036,Q64711649,Central Gurdwara (Khalsa Jatha) London,['Q337986'],"{'Gurdwara in Kensington, London'}",{'en': ['Central Gurdwara (Khalsa Jatha) Londo...,NaN,{},NaN,[],NaN,NaN,NaN,NaN,[],[],{},"{'Q145': (None, None)}",NaN,NaN,[],NaN,51.506687,-0.215687,Central Gurdwara (Khalsa Jatha) London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,9082,Q64755019,Penpont,['Q486972'],{'settlement in Dumfries and Galloway'},"{'en': ['Penpoint', 'Penpont'], 'cy': ['Penpon...",NaN,{},NaN,['Q67479916'],NaN,NaN,NaN,NaN,[],[],"{'Q126514': (None, None), 'Q68816355': (None, ...","{'Q145': (None, None)}",NaN,NaN,[],NaN,55.232470,-3.814175,Penpont,['2640426'],['4000000074564117'],NaN,['16379'],NaN,NaN,NX8494,NaN,NaN,NaN,NaN,NaN
83,9451,Q64868064,Sandilands Tunnel,"['Q14500296', 'Q1311958']","{'former railway tunnel, now tram tunnel, in C...",{'en': ['Sandilands Tunnel']},NaN,{},NaN,['Q67443130'],NaN,NaN,NaN,NaN,[],[],"{'Q26888': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,51.371806,-0.077472,Sandilands Tunnel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Q786032', 'Q8033355']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690454,8093857,Q15068232,Lower Ballinderry,['Q532'],{'village in the United Kingdom'},{'en': ['Lower Ballinderry']},NaN,{},NaN,['Q189592'],NaN,NaN,NaN,NaN,[],[],"{'Q26': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,54.544167,-6.256944,Lower Ballinderry,['2656554'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690455,8093868,Q15072509,Sclerder Abbey,['Q160742'],set(),{'en': ['Sclerder Abbey']},NaN,{},NaN,['Q23148'],NaN,NaN,NaN,NaN,[],[],"{'Q23148': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,50.348000,-4.505090,Sclerder Abbey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690456,8093870,Q15072664,King John's Palace,"['Q41176', 'Q811979']","{'Grade I listed building in Southampton, Unit...","{'en': [""'King John's Palace'"", ""King John's P...",NaN,{},NaN,['Q67531563'],NaN,NaN,NaN,NaN,[],[],"{'Q21683230': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,50.899500,-1.406660,"King John's Palace, Southampton",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690457,8093871,Q15072668,Highfield Church,['Q16970'],"{'Grade II listed church in Highfield, Southam...","{'en': ['Christ Church Portswood', 'Highfield ...",NaN,{},NaN,['Q67531563'],NaN,NaN,NaN,NaN,[],[],"{'Q21683230': (None, None)}","{'Q145': (None, None)}",NaN,NaN,[],NaN,50.929724,-1.395210,Highfield Church,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690460,8093980,Q15107057,Avon Viaduct,"['Q3397526', 'Q1210334', 'Q158438', 'Q181348']",{'23-arch railway viaduct carrying the Edinbur...,"{'en': ['Linlithgow, River Avon, Avon Viaduct'...",NaN,{},NaN,['Q1229763'],NaN,NaN,NaN,NaN,[],[],"{'Q204940': (None, None), 'Q68816063': (None, ...","{'Q145': (None, None)}",NaN,NaN,[],NaN,55.974700,-3.633440,Avon Viaduct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
entity = client.get("Q22", load=True)
record = entity.__dict__['data']

In [ ]:
print(pydash.get(record, "sitelinks.enwiki.title"))