In [5]:
import pandas as pd

entity = "New_York_City"
number_examples = "20"

%run "Find19thCParas" -e $entity -t $number_examples

In [6]:
examples = pd.read_csv("testing/"+entity+".tsv", sep='\t')

examples.head()

                                                para label
0  Manhattan Island is linked to New York City's ...   NEG
1  In the 1970s, job losses due to industrial res...   NEG
2  In 1904, the steamship "General Slocum" caught...   POS
3  The draft riots deteriorated into attacks on N...   POS
4  New York City is home to the headquarters of t...   POS